@media only screen and (max-width: 480px) {

    // 01. LAYOUTS
    // Contact
    #body__contact {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        background-image: url(/root/assets/multimedia/images/contactMobile.jpg);
        background-size: $background-size-cover;
        background-repeat: $background-repeat-no-repeat;
        @include height(100vh);
    }

    // 02. MENU AND FOOTER
    // Home
    // Menu
    .logoResponsive {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
        @include marginTop(8%);
    }

    .logoResponsive a {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
    }

    .logoResponsive a img {
        @include width(30%);
    }



    // MENU
    .menu__logo {
        display: $display-none;
    }

    .menuHome {
        @include margin(0.5em);
        width: auto;
    }

    .navbar-brand {
        display: $display-none;
    }

    .navbar-nav {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
        text-align: $text-align-center;
    }

    .navbar-expand-lg {
        @include marginBottom(20%);
    }



    // ABOUT:
    .menuAbout {
        @include margin(0.5em);
        width: auto;
    }

    .navbarAboutContainer {
        @include marginTop(10%);
    }


    // SERVICES
    .menuServices {
        @include margin(0.5em);
        width: auto;
    }

    .navbarServices {
        text-align: $text-align-center;
    }

    .navbarServicesContainer {
        @include marginTop(20%);
    }

    // CONTACT
    .menuContact {
        @include margin(0.5em);
        width: auto;
    }

    .navbarContact {
        text-align: $text-align-center;
    }

    .navbarContactContainer {
        @include marginTop(15%);
    }



    // Footer
    .footer {
        @include height(30%);
    }

    // 03. ZONES AND DIVS
    // HOME

    #title {
        font-size: 1.5em;
        letter-spacing: 1.8rem;
        margin-left: 2rem;
        text-shadow: #111826 3px 3px 2px;
        margin-top: 0rem;
    }

    // ABOUT
    .card__text h3 {
        @include marginBottom(5%);
    }

    .shortText {
        @include marginTop(18%);
        @include width(70%);
        text-align: $text-align-center;
    }

    // SERVICES
    .cardTextServicesOne {
        padding-bottom: 35%;
    }

    .cardTextServicesOne h2 {
        color: $color-white-antique;
    }

    .cardTextServicesOne p {
        color: $color-white-antique;
    }

    #cards__services {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
    }

    .card {
        @include margin(6%);
    }

    .cardTextServicesTwo h2 {
        @include width(70%);
        text-align: $text-align-center;
        @include marginTop(-20%);
    }

    // CONTACT
    #firstPart {
        display: $display-flex;
        flex-direction: column-reverse;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
        @include marginTop(30%);
    }

    #textContact {
        @include width(70%);
    }

    #form__contact {
        @include width(70%);
    }
}