// TABLET
@media only screen and (min-width: 481px) and (max-width: 1023px) {
    // 01. LAYOUTS
    // Contact
    #body__contact {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        background-image: url(/root/assets/multimedia/images/contactTablet.jpg);
        background-size: $background-size-cover;
        background-repeat: $background-repeat-no-repeat;
        @include height(100vh);
    }

    
    // 02. MENU AND FOOTER
    // MENU
    // HOME:
    .logoResponsive {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
        @include marginTop(6%);
    }

    .logoResponsive a {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
    }

    .logoResponsive a img {
        @include width(30%);
    }

    .menuHome {
        @include margin(0.5em);
        width: auto;
    }

    .navbar-brand {
        display: $display-none;
    }

    .navbar-nav {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
        text-align: $text-align-center;
    }

    .navbarHomeContainer {
        @include marginBottom(15%);
    }


    // ABOUT:
    .menuAbout {
        @extend .menuHome;
    }

    .navbarAbout {
        text-align: $text-align-center;
    }

    .navbarAboutContainer {
        @include marginTop(10%);
    }


    // SERVICES
    .menuServices {
        @extend .menuHome;
    }

    .navbarServices {
        text-align: $text-align-center;
        @include marginBottom(10%);
    }

    .navbarServicesContainer {
        @include marginTop(15%);
    }


    // CONTACT
    .menuContact {
        @extend .menuHome;
    }

    .navbarContact {
        text-align: $text-align-center;
    }

    .navbarContactContainer {
        @include marginTop(12%);
    }


    
    // 03. ZONES AND DIVS
    // HOME
    #title {
        font-size: 2.5em;
    }


    // ABOUT
    .card__text h3 {
        @include marginBottom(2%);
    }

    .shortText {
        @include marginTop(7%);
        @include width(60%);
        text-align: $text-align-center;
    }

    // SERVICES
    .cardTextServicesOne {
        @include marginBottom(85%);
    }

    #cards__services {
        display: $display-flex;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
    }

    .card {
        @include margin(6%);
    }

    // CONTACT
    #firstPart {
        display: $display-flex;
        flex-direction: column-reverse;
        justify-content: $justify-content-center;
        align-items: $align-items-center;
        @include marginTop(12%);
    }

    #textContact {
        @include width(50%);
    }

    #form__contact {
        @include width(50%);
    }

}