// Home -------------------------------------------------------------------------------------
#title__div {
    display: $display-flex;
    flex-direction: $flex-direction-row;
    justify-content: $justify-content-center;
}

#title {
    color: #F2E6A7;
    font-size: 4em;
    font-weight: normal;
    letter-spacing: 4rem;
    text-shadow: #111826 3px 5px 2px;
    margin-left: 4.5rem;
    @include marginTop(23rem);
}



// About -------------------------------------------------------------------------------------
#fistPage__about{
    @include height(85vh);
}

#myVideo {
    @include width(100%);
    @include height(100%);
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#secondPage__about {
    color: $color-azure;
    background-color: black;
    @include height(650px);

    $display-flex: flex;
    $flex-direction-column: column;
}

.card__text {
    @extend .navbarHome;
}

.card__text h3 {
    @include marginBottom(1.5%);
}

.lineAbout {
    @include width(50px);
    @include height(2px);
    background-color: #97303C;
    @include marginBottom(6%);
}

.shortText {
    @include width(45%);
    text-align: $text-align-center;
}



// Services -------------------------------------------------------------------------------------
#fistPage__services {
    background-image: url(/root/assets/multimedia/images/servicesOne.jpg);
    background-size: $background-size-cover;
    background-repeat: $background-repeat-no-repeat;
    @include height(100vh);

    display: $display-flex;
    justify-content: $justify-content-space-between;
    flex-direction: $flex-direction-column;
}

.cardTextServicesOne {
    @include marginBottom(36%);
}


.lineServices {
    @include width(50px);
    @include height(2px);
    background-color: #16374A;
    @include marginBottom(6%);
}

.cardTextServicesTwo {
    @extend .navbarHome;
    @include marginTop(-8%);
}

#secondPage__services {
    @extend .navbarHome;

    background-image: linear-gradient(180deg, rgba(233,234,238,1) 0%, rgba(255,255,255,1) 50%, rgba(221,222,217,1) 100%);
}

#cards__services {
    @include marginTop(5%);
    @extend #title__div;
}

.card {
    @include margin(2.5%);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 4%;
    background-color: rgb(117, 117, 117);
}

.card img {
    border-radius: 4%;
}

.face h3 {
    position: absolute;
    bottom: 0;
    @include width(100%);
    @include height(45px);
    line-height: 45px;
    color: $color-white-antique;
    background: rgba(0,0,0, .4);
    text-align: $text-align-center;
    font-size: 1.3rem;
}


#thirdPage__services {
    background-image: url(/root/assets/multimedia/images/servicesTwote.jpg);
    background-size: $background-size-cover;
    background-repeat: $background-repeat-no-repeat;
    @include height(100vh);

    display: $display-flex;
    flex-direction: $flex-direction-column;
    justify-content: $justify-content-start;
    align-items: $align-items-center;
}

.cardTextServicesThree {
    @extend .navbarHome;
    @include marginTop(10%);
}



// Contact -------------------------------------------------------------------------------------

#fistPage__contact {
    @include height(100vh);
}

#firstPart {
    @include marginTop(8%);
    display: $display-flex;
    flex-direction: $flex-direction-row;
    justify-content: $justify-content-evenly;
}

#form__contact {
    border: 0.1px solid white;
    border-radius: 3%;
    @include padding(15px);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    @include width(30%);
}

.labelTextArea {
    @include marginTop(5%);
    @include marginBottom(3%);
}

#textContact {
    @extend .navbarHome;

    text-align: $text-align-center;
    color: $color-white-antique;
    @include width(30%);
    @include marginBottom(12%);
}

.lineContact {
    @include height(2px);
    @include width(50px);
    background-color: #8C8274;
    @include marginBottom(6%);
}

.textContactP {
    @include marginTop(5%);
}

.form-check {
    @include marginTop(2%);
    @include marginBottom(5%);
}

label {
    color: $color-white-antique;
}

.buttonForm {
    display: $display-flex;
    justify-content: $justify-content-center;
    align-items: $align-items-center;
}
