//--------------------------------MENU-NAVBAR----------------------------------------------

// Home -------------------------------------------------------------------------------------
.logoResponsive {
    display: $display-none;
}

.iCon {
    background-image: url(/root/assets/logos/list.svg);
    @include width(100%);
}

.navbar-toggler {
    color: $color-white-antique;
    @include opacity(50%);
    @include width(75px);
}

.menuHome {
    @include margin(4.5em);
    @include width(3em);
}

.menuHome a {
    text-decoration: $text-decoration-none;
    color: $color-azure;
    text-shadow: $text-shadow-home;
}

.menuHome a:hover {
    color: #EB8C3C;
    text-shadow: $text-shadow-home;
}

#menu__logo {
    @include width(12%);
    @include opacity(70%);
    padding-left: 42px;
}

#menu__logo img {
    @include width(100%);
}

#menu__logo:hover {
    @include opacity(100%);
}

.navbarHome {
    display: $display-flex;
    flex-direction: $flex-direction-column;
    justify-content: $justify-content-center;
    align-items: $align-items-center;
}



// About -------------------------------------------------------------------------------------
.menuAbout {
    @extend .menuHome;
}

.menuAbout a {
    text-decoration: $text-decoration-none;
    color: $color-azure;
}

.menuAbout a:hover {
    color: #97303C;
}

.navbarAbout {
    @extend .navbarHome;
}



// Services -------------------------------------------------------------------------------------
.iconService {
    background-image: url(/root/assets/logos/listDark.svg);
    @include width(100%);
}

.menuServices {
    @extend .menuHome;
}

.menuServices a {
    text-decoration: $text-decoration-none;
    color: #262626;
    text-shadow: #111826 1px 1px 1.9px;
}

.menuServices a:hover {
    color: #9B6826;
}

.navbarServices {
    @extend .navbarHome;
}



// Contact -------------------------------------------------------------------------------------
.menuContact {
    @extend .menuHome;
}

.menuContact a {
    text-decoration: $text-decoration-none;
    color: $color-azure;
}

.menuContact a:hover {
    color: #9B6826;
}

.navbarContact {
    @extend .navbarHome;
}



//--------------------------------FOOTER----------------------------------------------

// About -------------------------------------------------------------------------------------
.footer {
    @include height(45%);
    display: $display-flex;
    flex-direction: $flex-direction-row;
    justify-content: $justify-content-center;
    align-items: $align-items-end;
}

.footer a {
    @include padding(25px);
}

.footer i {
    color: $color-azure;
}


.iconFace:hover {
    color: #3b5998;
}

.iconInsta:hover {
    color: #C13584;
}

.iconYou:hover {
    color: #c4302b;
}



// Services -------------------------------------------------------------------------------------
.footerServices {
    display: $display-flex;
    flex-direction: $flex-direction-row;
    justify-content: $justify-content-center;
    align-items: $align-items-center;
    @include height(35%);
}

.footerServices a {
    @include padding(25px);
}

.footerServices i {
    color: $color-azure;
}



// Contact -------------------------------------------------------------------------------------
.footerContact {
    display: $display-flex;
    flex-direction: $flex-direction-row;
    justify-content: $justify-content-center;
    align-items: $align-items-center;
    @include height(30%);
    @include marginTop(8%);
}

.footerContact a {
    @include padding(25px);
}

.footerContact i {
    color: $color-azure;
}