
// Home -------------------------------------------------------------------------------------
#body__home {
    background-image: url(/root/assets/multimedia/images/home.jpg);
    background-size: $background-size-cover;
    background-repeat: $background-repeat-no-repeat;
    @include height(100vh);
    @include width(100vw);

    @extend #body__about;
    justify-content: $justify-content-space-between;
    align-items: $align-items-center;
}



// About -------------------------------------------------------------------------------------
#body__about {
    display: $display-flex;
    flex-direction: $flex-direction-column;
}



// Services -------------------------------------------------------------------------------------
#body__services {
    @extend #body__about;
}


// Contact -------------------------------------------------------------------------------------
#body__contact {
    @extend #body__about;
    
    @include height(100vh);
    background-image: url(/root/assets/multimedia/images/contact.jpg);
    background-size: $background-size-cover;
    background-repeat: $background-repeat-no-repeat;
}