
// Background-image
    $background-size-cover: cover;
    $background-repeat-no-repeat: no-repeat;


// Display
    $display-none: none;


// Flex
    $display-flex: flex;
    $flex-direction-column: column;
    $flex-direction-row: row;
    $justify-content-center: center;
    $justify-content-space-between: space-between;
    $justify-content-start: flex-start;
    $justify-content-evenly: space-evenly;
    $align-items-center: center;
    $align-items-end: end;

    
// Color
    $color-white-antique: antiquewhite;
    $color-azure: azure;


// Text
    $text-decoration-none: none;
    $text-shadow-home: #111826 2px 2px 2px;
    $text-align-center: center;
